// gnb css 


       >#gnb{width:71.125vw;/*100px*/ height: 9.62vw;  margin-left:7vw; position: absolute; top: 6.9vw; left: 18vw;
        >.main{width: calc(100% / 6); height: 50px;   float: left; 
                &:nth-child(1){width: 13%;}
                &:nth-child(1)>dd{margin-left: -1.9vw;}
                &:nth-child(2){width: 18%;margin-left: 0.9vw;}
                &:nth-child(2)>dd{margin-left: 0.8vw;}
                &:nth-child(3){width: 15%; margin-left: 2vw;}
                &:nth-child(4){width: 15%; margin-left: 1.2vw;}
                &:nth-child(4)>dd{margin-left: -1vw;}
                &:nth-child(5){width: 8%; margin-left: 2vw;}
                &:nth-child(6){width: 10%; margin-left: 1vw;}
            >dt{width: 100%; height: 2.08vw; font-size:1.7vw; color:#444; cursor: pointer; 
                    font-family: 'arial'; font-weight: 300;transition: all 0.5s;
                    &:hover{color:#aaa; }
                }//li
            >dd{width: 100%; height: 15.625vw; /*padding-top:1vw;*/
                >ul{width: 50%; height: 100%; text-align: center; 
                    >li{width: 100px; height: 10%;  font-size:1.2vw; margin-top: 0.8vw; color:#444; 
                        font-family: 'arial'; cursor: pointer; transition: all 0.5s;
                        >a:hover{text-decoration: none; color:#aaa;}
                    }//li
                }//ul
            }//dd
        }//ul
    }//#gnb

 