@import "basic.scss";

@media screen and (max-width:639px){

footer{
    width:100%;
    height:300px;
    background-color:#eee;
    margin-top: 3.125vw/*30px*/; 
 
#footer_Box{ 
    width: 100%; 
    height:auto; 
    margin-top:50px; 
    
#footer_top{
    width:100%; 
    height: 100%;
    margin-top: 20px;
    @include fl; 

 >.util,.util2{
        width:90%; 
        height:35px; 
        padding:10px 0; 
        margin: 0 auto;
        /*text-align: center;*/
        
    >dt{
         width: 30px;
         height:20px;
         text-align: center;
         font-weight:$fontbd;
         font-size:$fonts;
         color: $black; 
         @include fl;
             }

     >dd{
         width: 100%;
         height: 15px;
         text-align: center;
         display:inline-block;
         @include fl;
     >ul{
         width: 350px;
         height:100%;
         text-align: center;
     >li{
            width:calc(100% / 5);
            font-size:$fontss;
            @include fl;
            border-right: $bdr;
            margin:0 5px 0 0; 
           
            &:last-child{border:0;}
            }
          }
     }
    }
    .util2>dd>ul>li:nth-child(2){
        width:35%;
        
    }
/*.family{
    width: 160px; 
    height: 20px;
    margin-top:-15px;
    float: right;
    >form>#familyOption{
        font-size: 0.9rem;
        width: 120px;
        height: 20px;
        }//#familyOption
    >form>button{
        width: 30px; 
        height: 20px;
        background-color:#333;
        >p{ font-size:0.9rem;
            color:#fff;
            cursor: pointer;}
    }
   }//.family*/
    }//#footer_top



#footer_body{
    width: 100%; 
    height: auto;
    @include fl;
    /*margin-top:30px; */
   /* >.qr{
        width: 55px;
        height: 57px;
        margin-left:10px;
        background-image:url("../footer/bac.png");
        @include fl;}*/
    >.cont_footer{ 
            width: 100%;
            height: 100%; 
            @include fl;
        >ul{
            width: 60%;
            height: 15px;
            padding:10px 10px;
            text-align: center;
            margin:0 auto;
        >li{
            font-size:$fontss;
            padding:0 5px;
            border-right: $bdr;
            @include fl;
             &:last-child{border:0;} 
            }
        }

address{
    width:95%;
    height: 30px;
    padding:10px 10px;
    font-size:$fontss;
    text-align: center;}
    @include fl;
.copy{
    width: 95%;
    height: 15px;
    font-size:$fontss;
    @include fl;
        text-align: center;}
        }//.cont_footer 

.wrap_etc{
    width: 100%; 
    height: 45px;
    float:left;
    margin-top:20px;
    >ul{
        width: 220px;
        height: 100%;
        margin: 0 auto;
    >li{
        width: 35px; 
        height:35px; 
        margin:4px 4px 0;
        float:left; 
        background-image: url("../footer/f_i_y_icon.png");
        background-position: center;background-repeat: no-repeat;

&:nth-child(1){background-position:0;}
&:nth-child(2){background-position:-44px;}
&:nth-child(3){background-position:-88px;}
&:nth-child(4){background-position:-130px;}
&:nth-child(5){background-position:-173px;}
    }//li
    }//ul
      } //.wrap_etc
     }//#footer_body
    }//#footer_Box
}//footer
}