@import "basic.scss";

@media screen and (min-width:640px) and (max-width:959px){
    
#popupBox2{
        .close2>i{
            display: none;}
    } 
#seven_Header{
    width: 90%;  
    height:80px; 
    margin: 0 auto;
>h1{
    margin:40px 0 0 20px;
    width: 140px;
    height: 30px;
    float:left; 
     >a{
         width: 100%;
         height: 100%;
         background-image: url("../header/7_logo.png");
      }//a
    }//h1 

    
.navBar{
  z-index: 111;
  width: 100px;
  height:80px;
  right: 0;
  top:0;
  cursor: pointer;
  position: relative;
    float:right; 
  
>.icon{
  -webkit-transition: all 0.4s ease-out;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 40px;
  height: 5px;
  background-color:$main;
    &:before, &:after{
      -webkit-transition: all 0.25s ease-out;
      position: absolute;
      width: 40px;
      height: 5px;
      background-color:$main;
      content:'';
    }
  &:before{
    top: -10px;
    left: 0;}
  &:after{
    top: 10px;
    left: 0;}
  }//.icon
  &:hover{
    .icon{
      background-color:$main;
      &:before{
        top: -10px;
        background-color: $main;}
      &:after{
        top: 10px;
        background-color:$main;}
      }}
  
&.open{
    .icon{
      -webkit-transition: all 0.4s ease-out;
      background-color: transparent;
      -webkit-transform: rotate(180deg);
      &:before{
        top:0;
        -webkit-transform: rotate(45deg);}
      &:after{
        top:0;
        -webkit-transform: rotate(-45deg);}
    }//.icon
  }//.nav.open
}//.navBar

>.nav{ 
 width: 250px;
 height: auto;
 padding-bottom:50px;
  background-color:rgba(0,0,0,.8);
 -webkit-background-color:rgba(0,0,0,.8);
 display: block;
 z-index: 100;
 top:100px;
 right:0;
 position: absolute;
 text-align: center;
dl{
        width: 100%;
        height: auto;
    text-align: center;

>dt{
    width: 100%;
    height: 100%;
    padding:15px 0;
    font-family: sans-serif;
    font-size: 1.3em;
    /*font-weight: bold;*/
    text-transform: uppercase;
    color:$white;
    cursor: pointer;
   /* box-sizing:border-box;
    border-bottom:1px solid #eee;*/
    &:hover{
        background-color:rgba(47,157,39,0.5);
        -webkit-background-color:rgba(47,157,39,0.5);
    }
    }
    >dd{
        width: 100%;
        >ul>li{
            padding:3px 0;
            a{
            font-size:1em;
                color:#aaa;
            }
            &:hover{
                background-color:rgba(255,255,255,.2);
            }
        }
    }//.dd
  }//dl  
    &.active{
    height: auto;
      }
.sitemap{
        width:170px;
        height: 25px;
        margin:0 auto;
        padding-top:20px;
.login,.customer{
            width: auto;
            height: 100%;
            float: left;
        }
.login>a,.customer>a{
    line-height: 180%;
    font-size:1rem;
    color:$white;
    text-decoration: none;}
.login{
    width: 55px; 
    height:25px;
    text-align: center;
    background-color: $main;
    margin-right: 0;
    }
.customer{
    width: 70px; 
    height: 25px;
    text-align: center;
    background-color:$sub02; 
    margin-right: 0;
    float: right;
    }
    }
    }//.nav
  }
}//header