html,body{
    width:100%;
    height:100%;
    margin:0 auto;
}
#wrap{
    width:100%; 
    height:100%;
    margin:0 auto;
}



@charset "UTF-8";
@import "basic.scss";
@import "header.scss";
@import "foorter.scss";