#wrap {
  width: 100%;
  height: auto;
}

#top_banner {
  width: 100%;
  height: 160px;
  background: #1b932a url(../img/img_sub_1/top_bann.png) 100% no-repeat;
  margin-top: 15px;
}

#top_banner > .banner {
  width: 100%;
  height: 80px;
  padding-top: 5px;
}

#top_banner > .banner > h2 {
  width: 120px;
  height: 35px;
  font-size: 1.875rem;
  font-size: 22pt;
  color: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 45px;
}

#top_banner > .banner > p {
  width: 350px;
  color: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.search {
  width: 800px;
  height: 70px;
  border-bottom: 1px solid #999;
  margin: 0 auto;
  margin-top: 10px;
}

.search > form {
  width: 360px;
  height: 40px;
  margin-left: calc(100% / 3);
  margin-top: calc(40px / 3);
  display: block;
}

.search > form > fieldset > #saerchBox {
  width: 300px;
  height: 40px;
  border: 1px solid #999;
}

.search > form > fieldset > button {
  width: 40px;
  height: 40px;
  background-image: url("../img/img_sub_1/search_but.png");
  background-position: center;
  cursor: pointer;
}

/*-----------#product_icon------------*/
#product_icon {
  width: 960px;
  height: 200px;
  margin-top: 100px;
}

#product_icon > .mini_nav {
  width: 115px;
  height: 25px;
  margin-left: 120px;
}

#product_icon > .mini_nav > ul > .home {
  width: 22px;
  height: 22px;
  background-image: url("../img/img_sub_1/home.png");
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}

#product_icon > .mini_nav > ul > .text {
  width: 10px;
  height: 22px;
  padding-top: 4px;
  font-size: 1rem;
  text-align: left;
  margin-left: 12px;
  float: left;
}

#product_icon > .mini_nav > ul > .text_1 {
  color: #666;
  width: 70px;
  height: 22px;
  padding-top: 5px;
  font-size: 1rem;
  text-align: right;
  float: right;
}

#product_icon > .icon {
  width: 730px;
  height: 110px;
  margin: 0 auto;
  margin-top: 30px;
}

#product_icon > .icon > ul > li > a {
  background-image: url("../img/img_sub_1/icon.png");
}

#product_icon > .icon > ul > li > a:hover {
  background-image: url("../img/img_sub_1/iconOn.png");
}

#product_icon > .icon > ul > li {
  width: 104px;
  height: 110px;
  float: left;
}

#product_icon > .icon > ul > li:nth-child(1) > a {
  background-position: 0;
}

#product_icon > .icon > ul > li:nth-child(2) > a {
  background-position: -105px;
}

#product_icon > .icon > ul > li:nth-child(3) > a {
  background-position: -210px;
}

#product_icon > .icon > ul > li:nth-child(4) > a {
  background-position: -315px;
}

#product_icon > .icon > ul > li:nth-child(5) > a {
  background-position: -425px;
}

#product_icon > .icon > ul > li:nth-child(6) > a {
  background-position: -530px;
}

#product_icon > .icon > ul > li:nth-child(7) > a {
  background-position: -635px;
}

/*--------/neww----------------------*/
#product_n_b {
  width: 730px;
  height: 800px;
}

#product_n_b > .neww {
  width: 100%;
  height: 35px;
  float: left;
  padding-top: 55px;
}

#product_n_b > .neww > p {
  font-size: 1.5rem;
  font-weight: bold;
  float: left;
  padding-bottom: 5px;
}

#product_n_b > .neww > ul > a {
  width: 65px;
  height: 23px;
  background-image: url("../img/img_sub_1/the_butt.png");
  float: right;
}

#product_n_b .new_box {
  width: 730px;
  height: 270px;
  background-color: #fff;
  float: left;
  margin-top: 10px;
}

#product_n_b .new_box > ul > li {
  width: 235px;
  height: 270px;
  float: left;
}

#product_n_b .new_box > ul > li > a {
  width: 235px;
  height: 270px;
  float: left;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ccc;
}

#product_n_b .new_box > ul > li:nth-child(1) {
  background-image: url("../img/img_sub_1/new_1.png");
}

#product_n_b .new_box > ul > li:nth-child(2) {
  background-image: url("../img/img_sub_1/new_2.png");
  margin: 0 11px;
}

#product_n_b .new_box > ul > li:nth-child(3) {
  background-image: url("../img/img_sub_1/new_3.png");
}

#product_n_b .best {
  width: 100%;
  height: 35px;
  float: left;
  padding-top: 55px;
}

#product_n_b .best > p {
  font-size: 1.5rem;
  font-weight: bold;
  float: left;
  padding-bottom: 5px;
}

#product_n_b .best > ul > a {
  width: 65px;
  height: 23px;
  background-image: url("../img/img_sub_1/the_butt.png");
  float: right;
}

#product_n_b .best_box {
  width: 730px;
  height: 270px;
  background-color: #fff;
  float: left;
  margin-top: 10px;
}

#product_n_b .best_box > ul > li {
  width: 235px;
  height: 270px;
  float: left;
}

#product_n_b .best_box > ul > li > a {
  width: 235px;
  height: 270px;
  float: left;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ccc;
}

#product_n_b .best_box > ul > li:nth-child(1) {
  background-image: url("../img/img_sub_1/best_1.png");
}

#product_n_b .best_box > ul > li:nth-child(2) {
  background-image: url("../img/img_sub_1/best_2.png");
  margin: 0 11px;
}

#product_n_b .best_box > ul > li:nth-child(3) {
  background-image: url("../img/img_sub_1/best_3.png");
}
