#wrap {
  width: 100%;
  height: auto;
}

/*h3{font-size:11pt; 
    font-weight: bold; 
    color:#444;
    text-align: center; 
    margin-top:10px;}*/
/*--------##top_banner----------*/
#top_banner {
  width: 100%;
  height: 175px;
}

#top_banner .banner {
  width: 100%;
  height: 160px;
  background: #1b932a url(../img/img_sub_1/top_bann.png) 100% no-repeat;
  margin-top: 15px;
  float: left;
}

#top_banner .banner > h2 {
  width: 126px;
  height: 32px;
  font-size: 1.875rem;
  font-size: 22pt;
  color: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 45px;
}

#top_banner .banner > p {
  width: 530px;
  color: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

/*-----content----------*/
#content {
  width: 960px;
  height: 500px;
  margin-top: 70px;
}

#content .mini_nav {
  width: 200px;
  height: 25px;
  margin-left: 120px;
  float: left;
}

#content .mini_nav > ul > .home {
  width: 22px;
  height: 22px;
  background-image: url("../img/img_sub_2/home.png");
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}

#content .mini_nav > ul > .text {
  font-size: 1rem;
  text-align: left;
  margin-left: 5px;
  padding-top: 4px;
  float: left;
}

#content .mini_nav > ul > .text_01 {
  font-size: 1rem;
  text-align: left;
  margin-left: 5px;
  padding-top: 4px;
  float: left;
}

#content .mini_nav > ul > .text_02 {
  color: #666;
  font-size: 1rem;
  text-align: left;
  margin-left: 5px;
  padding-top: 4px;
  float: left;
}

#content .navi_banner {
  width: 100%;
  height: 30px;
  float: left;
  padding-top: 50px;
}

#content .navi_banner > .navi_number {
  width: 550px;
  float: left;
  margin-left: 140px;
}

#content .navi_banner > .navi_number > li {
  width: 70px;
  float: left;
}

#content .navi_banner > .navi_number > li > a {
  width: 70px;
  height: 30px;
  float: left;
  background-image: url("../img/img_sub_2/206_2010.png");
}

#content .navi_banner > .navi_number > li > a:hover {
  width: 70px;
  height: 30px;
  float: left;
  background-image: url("../img/img_sub_2/206_2010_on.png");
}

#content .navi_banner > .navi_number > li:nth-child(1) > a {
  background-position: 0;
}

#content .navi_banner > .navi_number > li:nth-child(2) > a {
  background-position: -65px;
}

#content .navi_banner > .navi_number > li:nth-child(3) > a {
  background-position: -135px;
}

#content .navi_banner > .navi_number > li:nth-child(4) > a {
  background-position: -205px;
}

#content .navi_banner > .navi_number > li:nth-child(5) > a {
  background-position: -275px;
}

#content .navi_banner > .navi_number > li:nth-child(6) > a {
  background-position: -345px;
}

#content .navi_banner > .navi_number > li:nth-child(7) > a {
  background-position: -414px;
}

#content .navi_banner > .button {
  float: left;
}

#content .navi_banner > .button > li {
  width: 25px;
  height: 25px;
  float: left;
}

#content .navi_banner > .button > li > a {
  width: 24px;
  height: 25px;
  background-image: url("../img/img_sub_2/up_down.png");
}

#content .navi_banner > .button > li:nth-child(1) > a {
  background-position: -24px;
}

#content .navi_banner > .button > li:nth-child(2) > a {
  background-position: 0;
}

#content .center {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  background-image: url("../img/img_sub_2/center.png");
  float: left;
  background-position: center;
  background-repeat: no-repeat;
}
