@mixin backimg($posi:center,$rep:no-repeat){
    background-position:$posi;
    background-repeat:$rep;
   /* background-size:$size;*/
}

html,body{
    width: 100%;
    height: 100%;
    margin:0 auto;
    background-image:linear-gradient(-45deg,  #febf01 50%, #44ceb9 50%);
    background-image:-moz-linear-gradient(-45deg,  #febf01 50%, #44ceb9 50%);
    background-image:-o-linear-gradient(-45deg,  #febf01 50%, #44ceb9 50%);
    background-image:-webkit-linear-gradient(-45deg,  #febf01 50%, #44ceb9 50%);
    background-image:-ms-linear-gradient(-45deg,  #febf01 50%, #44ceb9 50%);
}
#wrap{
    width: 100%;
    height: auto;
    
    #header{
        width: 900px; 
        height: 50px;
        background-color: transparent;
        border: 0;
        margin-top: 0;
         h1{
            width: 100%;
            height: 100%;
            font-size:2em;
            font-weight:bold;
            color:#fff;
             text-align: center;
            /* line-height: 100px;*/
             
         }//h1
    }//#header
    >div{
        width: 900px;
        height:600px;
        background-color:#fff;
        border:1px solid #333;
        margin:0 auto;
        margin-top:50px;
        &:nth-child(2){
            >ul{
                float:left;
            }
        .leftBox{
            width:calc(50% - 40px);
            height:calc(100% - 40px);
            padding:0;
            margin:20px 25px;
            .text{
                widht: 100%;
                height:calc(50% - 30px;);
                float:left;
                padding-top:60px;
                text-indent: 20px;
                 h2{
                        width:165px;
                        height:40px;
                        background-image:url("../img/subpofo/logo.png");}
                 >.fontL{
                        margin-top:10px;
                        font-size:1.5em;
                        font-weight: bold;}
                  >.fontM{
                        margin-top:10px;}
                  >.line{
                      margin-top:30px;
                      width: 80px;
                      border-bottom: 2px solid #1b8a5f;
                     /* margin-left:20px;*/}
            }
            li:nth-child(2){
                width: 100%;
                height:50%;
                float:left;
                text-indent: 10px;
                padding-top:30px;
                >a{
                    width: 100%;
                    height: auto;
                    text-decoration: none;
                    >p{
                    text-indent: 10px;
                    }}
                >h3{
                    width: auto;
                    height: auto;
                    margin-top:10px;
                    font-size:1.2em;
                    font-weight: bold;
                    line-height:150%;
                    }
                >p>span{
                    width: 100%;
                    height: 100%;
                    text-indent:10px;
                }
            }
                  }//.leftBox
        .rightBox{
            width:48%;
            height:600px;
            padding:0;
            margin:0;
            background-image:url("../img/subpofo/computer.png");
            @include backimg;
            background-size:90%;
                }
        }//div(1)
        &:nth-child(3){
            background-image:url("../img/subpofo/pofo1.png");
            @include backimg;
        }
         &:nth-child(4){
            background-image:url("../img/subpofo/pofo2.png");
            @include backimg;
        }
         &:nth-child(5){
             height:800px;
            background-image:url("../img/subpofo/pofo3.png");
            @include backimg;
        }
         &:nth-child(6){
            background-image:url("../img/subpofo/pofo4.png"); 
            @include backimg;
        }
         &:nth-child(7){
            background-image:url("../img/subpofo/pofo5.png");
            @include backimg;
        }
         &:nth-child(8){
            background-image:url("../img/subpofo/pofo6.png");
            @include backimg;
        }
         &:nth-child(9){
             height:1560px;
            background-image:url("../img/subpofo/pofo7.png");
            @include backimg;
             paddig-bottom: 100px;
        }
         &:nth-child(10){
             height:1560px;
            background-image:url("../img/subpofo/pofo8.png");
            @include backimg;
           /*  margin-bottom: 50px;*/
        }
    }
    .top_button{
        width: 60px;
        height: 60px;
        float:right;
        top:0;
        margin-right:48%;
        margin-bottom:100px;
        background-color:#fff;
        border-radius: 50%;
        text-align: center;
        line-height:60px;
        font-size:30px;
        color:#555;
        border:0;
        cursor:pointer;
    }
}

 