//foorter.scss

@mixin fl($lf:left){
    float:$lf;
}

$bdr:1px solid #777;


footer{
    margin-top: 30px; 
    width: 100%;
    background-color:$sub-gr;

#footer_Box{ 
    width: 960px; 
    height: 190px; 
    margin-top:50px; 
    margin: 0 auto;

#footer_top{
    margin-top: 30px;
    width:960px; 
    height: 22px;
    @include fl;

 >.util{
        padding-top:5px; 
        width:660px; 
        height: 22px; 
        @include fl;
        

        >dt{
            margin-left: 20px; 
            font-weight:$fontbd;
            font-size:0.833rem;
            color: $black;
            @include fl;
             }

        >dd>ul>li{
            font-size:9pt;
            @include fl;
            border-right: $bdr;
           padding:0 5px;
             
     &:last-child{border:0;}
     }

        
    }
    }//#footer_top

.family{
    margin-right: 20px; 
    width: 160px; 
    height: 20px; 
    float: left;
    margin-left: 80px;
    
    >form>#familyOption{
        font-size: 0.9rem;
        width: 120px;
        height: 20px;
        }//#familyOption
    >
    form>button{
        width: 30px; 
        height: 20px;
        background-color:#333;
        >p{ font-size:0.9rem;
            color:#fff;
            cursor: pointer;}
    }
    
   }//.family

#footer_body{
    margin-top: 75px; 
    margin-left:20px; 
    width: 940px; 
    height: 60px;
        
    >.qr{width: 55px;
        height: 57px;
        background-image:url("../img/all/footer/bac.png");
        @include fl;}
    >.cont_footer{
                    margin-top:5px; 
                    margin-left:10px; 
                    width: 500px;
                    height: 100%; 
                    @include fl;
        >ul>li{
                font-size:9pt;
                padding:0 5px;
                border-right: $bdr;
                @include fl;
        &:last-child{border:0;} 
        }

address{font-size:9pt;
    @include fl;}
.copy{margin-top:10px;
    font-size:9pt;
    @include fl;}
        }//.cont_footer

.wrap_etc{
    width: 220px; 
    height: 40px; 
    float:right;
    padding-top:10px;
    >ul>li{
        width: 35px; 
        height:35px; 
        margin:4px 4px 0;
        float:left; 
        background-image: url("../img/all/footer/f_i_y_icon.png");
        background-position: center;background-repeat: no-repeat;

&:nth-child(1){background-position:0;}
&:nth-child(2){background-position:-44px;}
&:nth-child(3){background-position:-88px;}
&:nth-child(4){background-position:-130px;}
&:nth-child(5){background-position:-173px;}
    }//li
      } //.wrap_etc
     }//#footer_body
    }//#footer_Box
}//footer