//sub_2.scss 회사소개



#wrap{width:100%;height:auto ;}

/*h3{font-size:11pt; 
    font-weight: bold; 
    color:#444;
    text-align: center; 
    margin-top:10px;}*/


/*--------##top_banner----------*/
#top_banner{
    width: 100%; height:175px;
.banner{    
    width: 100%; height: 160px; 
    background:#1b932a url(../img/img_sub_1/top_bann.png) 100% no-repeat;
    margin-top: 15px;
    float:left;
>h2{
    width: 126px; height: 32px;
    font-size:1.875rem; 
    font-size:22pt;
    color:#fff;
    display: block;
    margin:0 auto;
    margin-top: 45px;}
>p{
    width: 530px;
    color:#fff;
    display: block;
    margin:0 auto;
    margin-top:20px;}
}//.banner
}//top_banner


/*-----content----------*/
#content{width: 960px;height: 500px;
margin-top:70px;
.mini_nav{
    width: 200px; height: 25px;  
    margin-left:120px;
    float:left;
>ul>.home{
    width: 22px;height: 22px;
    background-image: url("../img/img_sub_2/home.png");
    display: block; 
    background-position: center;
    background-repeat: no-repeat; 
    float:left;
}
>ul>.text{
    font-size:1rem; 
    text-align: left;
    margin-left:5px; 
    padding-top:4px;
    float:left;
}
>ul>.text_01{
    font-size:1rem; 
    text-align: left;
    margin-left:5px; 
    padding-top:4px;
    float:left;}
    
>ul>.text_02{
    color:#666;
    font-size:1rem; 
    text-align: left;
    margin-left:5px; 
    padding-top:4px;
    float:left;
}
    }//.mini_nav

.navi_banner{
    width: 100%; 
    height: 30px;
    float:left;
    padding-top:50px;
>.navi_number{
    width: 550px;
    float:left;
    margin-left: 140px;
>li{width:70px;
    float:left;
>a{width:70px;
    height: 30px;
    float:left;
    background-image: url("../img/img_sub_2/206_2010.png");
  &:hover{
    width:70px;height: 30px;
    float:left;
    background-image: url("../img/img_sub_2/206_2010_on.png");
    }
    }//a
   
&:nth-child(1)>a{background-position: 0;}
&:nth-child(2)>a{background-position: -65px;}
&:nth-child(3)>a{background-position: -135px;}
&:nth-child(4)>a{background-position: -205px;;}
&:nth-child(5)>a{background-position: -275px;}
&:nth-child(6)>a{background-position: -345px;}
&:nth-child(7)>a{background-position:-414px;}
     }//li
    }//.navi_number


>.button{
    float:left;
>li{
    width: 25px;height: 25px;
    float:left;
>a{
    width: 24px;height: 25px;
    background-image: url("../img/img_sub_2/up_down.png");}
  
&:nth-child(1)>a{background-position: -24px;}
&:nth-child(2)>a{background-position: 0;}
      }//li
    }//.button
    }//.navi_banner

.center{
    width: 100%; height: 300px; 
    margin-top: 10px; 
    background-image: url("../img/img_sub_2/center.png"); float:left; 
    background-position: center; 
    background-repeat: no-repeat;}
}//#content