$main:#f8b62c;

@media screen and (max-width:640px){

    
#wrap{
    width: 90%;
    height: 100%; 
    
    >h1{
        width: 100%;
        height: 50px;
        padding-top:30px;
        font-size: 2rem;
        text-align: center;
        text-shadow: 1px 1px 3px #44ceb9;
        color:#fff;
        }//h1

    /*h1는 rem으로 움직이이 없으니깐*/
    
    >#white_top{
        position: fixed;
        width: 100%;
        height: 10px;
        background-color: #fff;
        top: 0;
        left: 0;
        z-index: 200;
    }//#white_top
    >#whith_right{
        position: fixed;
        width: 10px;
        height: 100%;
        background-color: #fff;
        top: 0;
        right: 0;
        z-index: 200;
    }>#whith_left{
        position: fixed;
        width: 10px;
        height: 100%;
        background-color: #fff;
        top: 0;
        left: 0;
        z-index: 200;
    }>#whith_bottom{
        position: fixed;
        width: 100%;
        height: 10px;
        background-color: #fff;
        bottom: 0;
        left: 0;
        z-index: 200;
    }
    
  .nav{
  z-index: 111;
  width: 80px;
  height: 50px;
  margin: 0 auto;
  top:130px;
  right:10%;
  cursor: pointer;
  position: absolute;
  float:right;
  
>.icon{
  -webkit-transition: all 0.4s ease-out;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 auto;
  width: 40px;
  height: 5px;
  background-color:#fff;
    &:before, &:after{
      -webkit-transition: all 0.25s ease-out;
      position: absolute;
      width: 40px;
      height: 5px;
      background-color:#fff;
      content:'';
    }
  &:before{
    top: -10px;
    left: 0;}
  &:after{
    top: 10px;
    left: 0;}
  }//.icon
  &:hover{
    .icon{
      background-color:#fff;
      &:before{
        top: -15px;
        background-color: #fff;}
      &:after{
        top: 15px;
        background-color:#fff;}
    }
  }
  &.open{
    .icon{
      -webkit-transition: all 0.4s ease-out;
      background-color: transparent;
      -webkit-transform: rotate(180deg);
      &:before{
        top:0;
        -webkit-transform: rotate(45deg);
      }
      &:after{
        top:0;
        -webkit-transform: rotate(-45deg);
      }
    }//.icon
  }//.nav.open
}//.nav

#menu{ 
 width: 100%;
 height: 100%;
 background-color:rgba(0,0,0, .8);
 z-index: 100;
 left: 0;
 right: 0;
 top: 0;
 position: absolute;
 height: 0px;
 overflow: hidden;
 text-align: center;
 float:left;
 -webkit-transition: all 0.5s;
transition: all 0.5s;
  &>ul{
    width: 100%;
    height: 100%;
    list-style: none;
    padding:0;
    margin-top:31.29vw/*200px*/;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
      &>li{
          height:auto;
         
  &>a:first-child{
    margin-top: 0;
  }  
  &>a{
      width: 100%;
      height: 100%;
      color:#fff;
      padding:20px 0;
      letter-spacing: 0.5em;
      text-decoration: none;
      -webkit-transition: all 0.25s;
  }
  &>a:hover{
      width: 100%;
      color:$main;
      text-decoration: none;
          }
      }//li
    }//ul
  &.active{
    height: auto;
  }
}//#menu
    
.border_line{
        top:50px;
        margin: 0 auto;
        width: 90%/*500px*/;
        height: 50vw/*400px*/;
        border-style: solid;
        border-width: 5px;
        border-color: #fff;
        position: relative;
        >.contactBox{
            margin:5px;
            width:calc(100% - 10px)/*490px*/;
            height:calc(100% - 10px);
            background-color:rgba(255,255,255,0.8);
            position:absolute;
            ul{
                width: 100%;
                height:28%/*245px*/;
                padding: 0;
                margin: 0;
                padding-top: 10%;
            
                
                >li{
                    width:90%;
                    margin-left: 5%;
                    /*border: 1px solid #333;*/
                    text-align: center;
                    padding-top: 5%;
                    color:#555;
                    
                    
                    &:nth-child(1){
                        margin: 0 auto;
                        width: 200px;
                        font-size: 1.5em;
                        border-bottom: 1px solid #555;
                        padding-bottom: 15px;
                        
                        }
                    &:nth-child(2){
                        font-size:1.2em;
                        
                    }
                }
            }
        }
    }
}//#wrap
}




@media screen and (max-width:449px){
#wrap{
    width: 100%;
    height: 100%;
    
    >h1{
        width: 100%;
        height: 50px;
        padding-top:30px;
        font-size: 2rem;
        text-align: center;
        text-shadow: 1px 1px 3px #44ceb9;
        color:#fff;
        }//h1

    /*h1는 rem으로 움직이이 없으니깐*/
    
    >#white_top{
        position: fixed;
        width: 100%;
        height: 10px;
        background-color: #fff;
        top: 0;
        left: 0;
        z-index: 200;
    }//#white_top
    >#whith_right{
        position: fixed;
        width: 10px;
        height: 100%;
        background-color: #fff;
        top: 0;
        right: 0;
        z-index: 200;
    }>#whith_left{
        position: fixed;
        width: 10px;
        height: 100%;
        background-color: #fff;
        top: 0;
        left: 0;
        z-index: 200;
    }>#whith_bottom{
        position: fixed;
        width: 100%;
        height: 10px;
        background-color: #fff;
        bottom: 0;
        left: 0;
        z-index: 200;
    }
    
  .nav{
  z-index: 111;
  width: 100px;
  height: 80px;
  margin: 0 auto;
  top:10%;
  left:60%;
  cursor: pointer;
  position: absolute;
  
>.icon{
  -webkit-transition: all 0.4s ease-out;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 auto;
  width: 40px;
  height: 5px;
  background-color:#fff;
    &:before, &:after{
      -webkit-transition: all 0.25s ease-out;
      position: absolute;
      width: 40px;
      height: 5px;
      background-color:#fff;
      content:'';
    }
  &:before{
    top: -10px;
    left: 0;}
  &:after{
    top: 10px;
    left: 0;} 
  }//.icon
  &:hover{
    .icon{
      background-color:#fff;
      &:before{
        top: -15px;
        background-color: #fff;}
      &:after{
        top: 15px;
        background-color:#fff;}
    }
  }
  &.open{
    .icon{
      -webkit-transition: all 0.4s ease-out;
      background-color: transparent;
      -webkit-transform: rotate(180deg);
      &:before{
        top:0;
        -webkit-transform: rotate(45deg);
      }
      &:after{
        top:0;
        -webkit-transform: rotate(-45deg);
      }
    }//.icon
  }//.nav.open
}//.nav
#menu{
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0, .8);
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    height: 0px;
    overflow: hidden;
    text-align: center;
    -webkit-transition: all 0.5s;
  &>ul{
    width: 100%;
    height: 100%;
    list-style: none;
    padding:0;
    margin-top:100px;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    text-transform: uppercase;
      &>li{
          height:auto;
         &>a>span:first-child{
            margin-top: 0;}  
  &>a>span{
      width: 100%;
      height: 100%;
      color:#fff;
      margin: 30px 0;
      padding: 5px 0;
      letter-spacing: 0.5em;
      text-decoration: none;
      -webkit-transition: all 0.25s;}
  &>a>span:hover{
      width: 100%;
      color:$main;
      text-decoration: none;
       }
      }//li
    }//ul
  &.active{
    height: 100%;
  }
}//#menu
    
        .border_line{
        top:10px;
        margin: 0 auto;
        width: 80%/*500px*/;
        height: 60vw/*400px*/;
        border-style: solid;
        border-width: 5px;
        border-color: #fff;
        position: relative;
        >.contactBox{
            margin:5px 5px 0 5px;
            width:calc(100% - 10px)/*490px*/;
            height:calc(100% - 10px);
            background-color:rgba(255,255,255,0.8);
            position:absolute;
            ul{
                width: 100%;
                height:28%/*245px*/;
                padding: 0;
                margin: 0;
                padding-top: 10%;
            
                
                >li{
                    width:90%;
                    margin-left: 5%;
                    /*border: 1px solid #333;*/
                    text-align: center;
                    padding-top: 5%;
                    color:#555;
                    
                    
                    &:nth-child(1){
                        margin: 0 auto;
                        width: 200px;
                        font-size: 1.2em;
                        border-bottom: 1px solid #555;
                        padding-bottom: 15px;
                        font-weight: bold;
                        
                        }
                    &:nth-child(2){
                        font-size:1em;
                        font-weight: bold;
                        
                    }
                }
            }
        }
    }
}//#wrap
}