#wrap { width: 100%; height: auto; }

#top_banner { width: 100%; height: 160px; background-color: #1b932a; margin-top: 15px; position: relative; z-index: -100; }
#top_banner .banner { width: 100%; height: 100%; background-image: url("../img/bannerpt.png"); background-repeat: no-repeat; background-position: right; position: absolute; text-align: center; }
#top_banner .banner > h2 { width: 100%; height: auto; display: block; font-size: 1.5em; color: #ffffff; margin-top: 50px; }
#top_banner .banner > p { width: 100%; height: auto; display: inline-block; font-size: 1em; color: #ffffff; margin-top: 20px; }

#tableBox { width: 800px; height: 200px; margin: 0 auto; margin-top: 50px; border: 0; }
#tableBox table { width: 100%; border-top: 1px solid #333; text-align: center; border-collapse: collapse; }
#tableBox table > caption { width: 100%; font-size: 1.5rem; border-bottom: 20px solid #fff; }
#tableBox table > caption > span { width: 150px; height: 100%; font-size: 1.5rem; color: #e42121; }

th { width: 200px; padding: 13px 5px; font-size: 1rem; color: #333; line-height: 1.5; letter-spacing: -1px; background-color: #ddd; border-bottom: 1px solid #aaa; border-left: 1px solid #aaa; }
th:nth-child(1) { border-left: 0; }

td { width: 200px; height: 50px; text-align: center; line-height: 50px; border-bottom: 1px solid #aaa; border-left: 1px solid #aaa; }
td:nth-child(1) { border-left: 0; }

.yes_noBox { width: 800px; height: 80px; margin: 0 auto; margin-top: 50px; }
.yes_noBox p { font-size: 0.9rem; }
.yes_noBox p > span { width: 100%; height: 100%; font-weight: bold; }
.yes_noBox > .rigth_radio { float: right; }

#container { width: 600px; height: 530px; margin-top: 50px; }
#container > .textBox { width: 100%; height: 80px; margin-bottom: 20px; /*border-top:1px solid #333; */ }
#container > .textBox > h2 { width: 100%; height: 30px; font-size: 1.5em; font-weight: bold; color: #006634; text-align: center; }
#container > .textBox > p { margin-top: 10px; text-align: center; width: 100%; }
#container > .loginBox { width: 100%; height: 300px; background-color: #eee; }
#container > .loginBox fieldset { width: 500px; height: auto; margin: 0 auto; padding-top: 70px; }
#container > .loginBox fieldset > ul > li > dl > dt > label { width: 100px; height: 20px; margin-top: 5px; display: block; float: left; /* >span{@extend %hidden;}*/ }
#container > .loginBox fieldset .input01 > input { width: 90px; height: 30px; box-sizing: border-box; border-radius: 2px; line-height: 30px; border: 1px solid #ccc; float: left; }
#container > .loginBox fieldset > ul > li > dl > dd:nth-of-type(2) input { width: 90px; height: 30px; box-sizing: border-box; margin: 0 5px; border-radius: 2px; line-height: 30px; border: 1px solid #ccc; float: left; }
#container > .loginBox fieldset > ul > li > dl > dd:nth-of-type(3) input { width: 90px; height: 30px; box-sizing: border-box; border-radius: 2px; line-height: 30px; border: 1px solid #ccc; float: left; }
#container > .loginBox fieldset .Box01 { width: 400px; height: 30px; margin-top: 15px; display: block; float: left; }
#container > .loginBox fieldset .Box01 > dl > dd > input { width: 280px; height: 30px; box-sizing: border-box; border: 1px solid #ccc; border-radius: 2px; line-height: 30px; }
#container > .loginBox fieldset .login_button > #loginbut { width: 90px; height: 60px; background-color: #006634; cursor: pointer; margin-top: -25px; margin-right: 5px; float: right; }
#container > .loginBox fieldset .login_button > button > p { text-align: center; color: #ffffff; }
#container > .loginBox fieldset > ul > .textsm > p { margin-top: 30px; color: red; font-size: 0.812em; float: left; }
#container #button02 { width: 550px; height: 50px; margin: 20px 0 50px 0; float: right; }
#container #button02 > .textbold { font-size: 0.812em; font-weight: bold; }
#container #button02 > p { width: 600px; font-size: 0.812em; display: block; }
#container #button02 > button { margin-top: -25px; float: right; background-color: #ffffff; border: 1px solid #ccc; cursor: pointer; }

/*# sourceMappingURL=seven_login.css.map */
