/*@import url(http://fonts.googleapis.com/css?family=Lato:100);*/
body {
  font-family: Lato, sans-serif;
  font-weight: 100%;
  text-transfrom: uppercase;
  background: #ff75b0;
  background: linear-gradient(135deg, #ff75b0 0%, #00ffbd 80%, #d3ff73 100%) fixed;
  background-size: 150% 150%;
  animation: bg 5s infinite linear alternate;
}

@keyframes bg {
  from {
    background-position: 10 0;
  }
  to {
    background-position: 10% 50%;
  }
}

body #wrap {
  /* position: absolute;
    top:50%;
    left:50%;
    margin:  -200px 0 0 -100px;*/
}

body #wrap #home {
  width: 100%;
  height: 980px;
  background-color: rgba(255, 255, 255, 0.3);
}

body #wrap #home > #name {
  top: 30%;
  left: 40%;
  width: 800px;
  font-size: 130px;
  text-align: center;
  margin: 30px 0 0 -98px;
  color: #f8b62c;
  position: absolute;
  text-shadow: 1px 1px 3px rgba(255, 117, 176, 0.5);
  opacity: 0.8;
}

body #wrap #home > #name li:nth-child(1) {
  font-size: 90px;
  display: block;
  letter-spacing: 1px;
}

body #wrap #home > #name li:nth-child(2) {
  font-size: 100px;
  display: block;
  letter-spacing: 1px;
}

body #wrap #home > #name li:nth-child(3) {
  letter-spacing: -1px;
}

body #wrap > #white_top {
  position: fixed;
  width: 100%;
  height: 28px;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 200;
}

body #wrap > #whith_right {
  position: fixed;
  width: 28px;
  height: 100%;
  background-color: #fff;
  top: 0;
  right: 0;
  z-index: 200;
}

body #wrap > #whith_left {
  position: fixed;
  width: 28px;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 200;
}

body #wrap > #whith_bottom {
  position: fixed;
  width: 100%;
  height: 28px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  z-index: 200;
}

body #wrap > #menu {
  position: fixed;
  right: 0;
  top: 20%;
  width: 10em;
  margin-top: -2.5em;
  z-index: 500;
  background-color: #fff;
  color: #fff;
  border-radius: 3em 0em 0em 3em;
  padding: .8em 3em .5em 0em;
}

body #wrap > #menu > ul {
  margin-right: 50px;
  text-align: right;
  font-family: "Josefin Sans" , sans-serif, bold;
  font-size: 25px;
  line-height: 120%;
  letter-spacing: 2px;
}

body #wrap > #menu > ul li > a:hover {
  color: #f8b62c;
  text-decoration: bold;
}

body #home, body #about, body #portfolio, body #contact {
  margin: 0 auto;
  float: top;
  width: 100vw;
  height: 100vh;
  text-align: center;
  border: 1px solid #00ffbd;
}

body #about {
  width: 100%;
  height: 960px;
  background: #febf01;
  background: -moz-linear-gradient(-45deg, #febf01 53%, #fed500 53%, #9fd1ca 53%, #44ceb9 53%);
  background: -webkit-linear-gradient(-45deg, #febf01 53%, #fed500 53%, #9fd1ca 53%, #44ceb9 53%);
  background: linear-gradient(135deg, #febf01 53%, #fed500 53%, #9fd1ca 53%, #44ceb9 53%);
}

body #about > h2 {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  font-size: 30pt;
  text-align: center;
  font-weight: bold;
}

body #about ul {
  width: 800px;
  height: 900px;
  background-color: white;
}

body #portfolio {
  width: 100%;
  height: 980px;
  background-image: url("../011.jpg");
}

body .section:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
