//sub_1.scss 상품소개

$main:#1b932a;
$white:#ffffff;
$font:#666;
$sub01:#ccc;
$line :1px solid $sub01;
$font_l:1.5em;
$font_mm:1.3em;
$font_m:1em;
$font_s:0.812em;

#wrap{width:100%;height:auto ;}

/*--------##top_banner----------*/

#top_banner{
    width: 100%; 
    height:175px;
    margin-top: 15px;
    position: relative;
    z-index: -100; 
    
.banner{    
    width: 100%; 
    height: 160px; 
    background:$main url("../img/top_bann.png") 100% no-repeat;
    float:left;
    position: absolute;
    margin:0 auto;
    text-align: center;
    z-index: -100; 
>h2{
    width: 100%; 
    height: auto;
    display:block;
    font-size:$font_l; 
    color:$white;
    margin-top: 50px;
}
>p{
    width: 100%;
    height: auto;
    display:inline-block;
    font-size: $font_m;
    color:$white;
    margin-top:20px;
} 
}//.banner
}//top_banner



/*-----------#product_icon------------*/
#product_icon{
    width: 960px; 
    height: auto;
    margin-top:20px;

.mini_nav{
  width: 600px;
  height: 30px;
  margin: 0 auto;
  border: $line;
  border-width: 1px 0 ;
  list-style-type: none;
  padding: 0;
  text-align: center; 
    li{ 
        font-size: $font_s;
        color:$font;
        display: inline-block;
        margin-top: 8px;
        >a{
          color:$font;  
        }
    }
    .home{
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 1px 5px 0 0;
        background-image: url("../img/home.png");
        background-repeat: no-repeat;
        background-position: center;
        display:inline-block;
        }
    }//.mini_nav
    
>.icon{
    width: 730px; 
    height: 110px; 
    margin:0 auto;
    margin-top:70px;
>ul>li>a{
    background-image: url("../img/icon.png");
    &:hover{background-image: url("../img/iconOn.png");}
    }

>ul>li{
    width: 104px;height: 110px; float:left;
&:nth-child(1)>a{background-position: 0;}
&:nth-child(2)>a{background-position: -105px;}
&:nth-child(3)>a{background-position: -210px;;}
&:nth-child(4)>a{background-position:-315px;}
&:nth-child(5)>a{background-position: -425px;}
&:nth-child(6)>a{background-position: -530px;}
&:nth-child(7)>a{background-position: -635px;}
    }//li

    }//.icon
.search{ 
    width: 730px; height:70px; 
    border: $line;
    margin:0 auto;
    margin-top:30px;
    background-color:#eee;
   
>form{
    width: 360px;
    height: 40px;
    margin-left:calc(100% / 4);
    margin-top:calc(40px / 3);
    display:block;
    
>fieldset>#saerchBox{
    width: 300px; 
    height: 40px;
    border: $line;}
    
>fieldset>button{
    width: 40px; 
    height: 40px;
    border:$line;
    background-image: url("../img/search_but.png");
    background-position: center;
    cursor: pointer;}
    }
}//.search
}//#product_icon

/*--------/neww----------------------*/
#product_n_b{
    width: 960px; 
    height:800px;
    margin: 0 auto;
>#newBox{
    width:100%;
    height: auto;
    float:left; 
    padding-top:70px;
    >ul{
        width: 100%;
        height: 50px;
         
        >li:nth-child(1){
            font-size:1.5em; 
            font-weight: bold;
            float:left;
            margin-left: 12%; }
        >li:nth-child(2){
            width: 65px;
            height: 23px;
            float: right;
            margin-right: 12%;
            >a{background-image: url("../img/the_butt.png");}
        }//li(2)
    }//ul

.newBan{
    width: 100%; 
    height: 270px; 
    float: left;
    margin: 0 auto;
 >ul{
     width: 100%;
     height: 100%;
     margin-left: 12%;
     >li{
        width: 235px;
        height: 270px;
        float:left;
        border:$line;
         &:nth-child(1)>a{background-image: url("../img/new_1.png");}
         &:nth-child(2)>a{background-image: url("../img/new_2.png");}
         &:nth-child(3)>a{background-image: url("../img/new_3.png");}
         }
     >li:nth-child(2){margin:0 10px;}
     }//ul
    }//.newBan
    }//#newBox


>#bestBox{
    width:960px;
    height: auto;
    float:left; 
    padding-top:55px;
    >ul{
        width: 100%;
        height: 50px;
         
        >li:nth-child(1){
            font-size:1.5em; 
            font-weight: bold;
            float:left;
            margin-left: 12%; }
        >li:nth-child(2){
            width: 65px;
            height: 23px;
            float: right;
            margin-right: 12%;
            >a{background-image: url("../img/the_butt.png");}
        }
    }//ul

.bestBan{
    width: 100%; 
    height: 270px; 
    float: left;
    margin: 0 auto;
 >ul{
     width: 100%;
     height: 100%;
     margin-left: 12%;
     >li{
    width: 235px;
    height: 270px;
    float:left;
    border: $line;
         &:nth-child(1)>a{background-image: url("../img/best_1.png");}
         &:nth-child(2)>a{background-image: url("../img/best_2.png");}
         &:nth-child(3)>a{background-image: url("../img/best_3.png");}
         }
     >li:nth-child(2){margin:0 10px;}
     }//ul
    }//.newBan
    }//#newBox
}


