header { width: 960px; height: 40px; background-color: #ffffff; padding-top: 50px; }
header > h1 { width: 140px; height: 30px; margin-left: 130px; float: left; }
header > h1 > a { width: 100%; height: 100%; background-image: url("../header/7_logo.png"); }
header nav > ul { width: 560px; background-color: #ffffff; float: left; margin: 0 30px; margin-top: 5px; margin-left: 60px; }
header nav > ul > li { font-size: 1.2rem; float: left; margin-right: 40px; text-decoration: none; }
header nav > ul > li > a { height: 100%; display: block; font-weight: bold; text-decoration: none; }
header .login > a, header .customer > a { margin-top: 2px; font-size: 0.95rem; color: #ffffff; text-decoration: none; font-weight: 100; }
header .login { width: 55px; height: 20px; text-align: center; background-color: #1b932a; margin-right: 0; margin-left: 20px; }
header .customer { width: 70px; height: 20px; text-align: center; background-color: #e65c35; margin-right: 0; float: right; }

footer { margin-top: 30px; width: 100%; background-color: #eee; }
footer #footer_Box { width: 960px; height: 190px; margin-top: 50px; margin: 0 auto; }
footer #footer_Box #footer_top { margin-top: 30px; width: 960px; height: 22px; float: left; }
footer #footer_Box #footer_top > .util { padding-top: 5px; width: 660px; height: 22px; float: left; }
footer #footer_Box #footer_top > .util > dt { margin-left: 20px; font-weight: bold; font-size: 0.833rem; color: #333; float: left; }
footer #footer_Box #footer_top > .util > dd > ul > li { font-size: 9pt; float: left; border-right: 1px solid #777; padding: 0 5px; }
footer #footer_Box #footer_top > .util > dd > ul > li:last-child { border: 0; }
footer #footer_Box .family { margin-right: 20px; width: 160px; height: 20px; float: left; margin-left: 80px; }
footer #footer_Box .family > form > #familyOption { font-size: 0.9rem; width: 120px; height: 20px; }
footer #footer_Box .family > form > button { width: 30px; height: 20px; background-color: #333; }
footer #footer_Box .family > form > button > p { font-size: 0.9rem; color: #fff; cursor: pointer; }
footer #footer_Box #footer_body { margin-top: 75px; margin-left: 20px; width: 940px; height: 60px; }
footer #footer_Box #footer_body > .qr { width: 55px; height: 57px; background-image: url("../img/all/footer/bac.png"); float: left; }
footer #footer_Box #footer_body > .cont_footer { margin-top: 5px; margin-left: 10px; width: 500px; height: 100%; float: left; }
footer #footer_Box #footer_body > .cont_footer > ul > li { font-size: 9pt; padding: 0 5px; border-right: 1px solid #777; float: left; }
footer #footer_Box #footer_body > .cont_footer > ul > li:last-child { border: 0; }
footer #footer_Box #footer_body > .cont_footer address { font-size: 9pt; float: left; }
footer #footer_Box #footer_body > .cont_footer .copy { margin-top: 10px; font-size: 9pt; float: left; }
footer #footer_Box #footer_body .wrap_etc { width: 220px; height: 40px; float: right; padding-top: 10px; }
footer #footer_Box #footer_body .wrap_etc > ul > li { width: 35px; height: 35px; margin: 4px 4px 0; float: left; background-image: url("../img/all/footer/f_i_y_icon.png"); background-position: center; background-repeat: no-repeat; }
footer #footer_Box #footer_body .wrap_etc > ul > li:nth-child(1) { background-position: 0; }
footer #footer_Box #footer_body .wrap_etc > ul > li:nth-child(2) { background-position: -44px; }
footer #footer_Box #footer_body .wrap_etc > ul > li:nth-child(3) { background-position: -88px; }
footer #footer_Box #footer_body .wrap_etc > ul > li:nth-child(4) { background-position: -130px; }
footer #footer_Box #footer_body .wrap_etc > ul > li:nth-child(5) { background-position: -173px; }

/*# sourceMappingURL=seven_hf.css.map */
