#wrap{width:100%; height:2180px;}
/*-----------header------------*/
#header{width: 1100px;height:92px;padding-top:70px;}
#header>h1{width:234px; height:50px;float:left;}
h1>a{width: 100%;height: 100%;display: block; background-repeat:no-repeat;float:left;background-image:url("../images/7_logo.png");}

#header>.top_navi{width: 100%;height: 150px;}
#header>.top_navi>li{height: 30px;float:left;padding-left:55px;margin-top: 18px;}
#header>.top_navi>li>a{width: 100%;height: 100%;display: block;background-repeat: no-repeat;background-position:center center;}
#header>.log_navi>li{height: 24px;float:left;padding-top:20px;margin-left:2px;}
#header>.log_navi>li>a{width: 100%;height: 100%;display: block; background-repeat:no-repeat;float:left; background-position:center center;}

.top_navi_1{width: 178px;}
.top_navi_2{width: 72px;}
.top_navi_3{width: 97px;}
.top_navi_4{width: 97px;}
.log{width: 74px; padding-left:50px}
.customer{width: 74px;float:right;}

.top_navi_1>a{background-image:url("../images/7-ELEVEN_1.png");}
.top_navi_2>a{background-image:url("../images/nav_2.png");}
.top_navi_3>a{background-image:url("../images/nav_3.png");}
.top_navi_4>a{background-image:url("../images/nav_4.png");}
.log>a{background-image:url("../images/nav_5.png");}
.customer>a{background-image:url("../images/nav_6.png");}



/*----------benner-------------------*/
#banner{width: 100%;height: 540px;margin-top:10px;}
#main{height: 100%; margin: 0 auto;}
#main>a{width: 100%; height: 100%; background-image:url("../images/main.png");display: block; background-repeat: no-repeat;background-position: center center;}

#button{width: 1600px;margin: 0 auto;}
.m_button>.m_left_but{width: 50px;height: 80px;
margin-left:200px;padding-top:220px;float:left;}
.m_button>.m_left_but>a{width: 100%;height: 100%; display: block;background-repeat:no-repeat;background-position:center;background-image:url("../images/left_butt.png");}

.m_button>.m_re_but{width: 50px;height: 80px;
margin-right:200px;padding-top:220px;float:right;}
.m_button>.m_re_but>a{width: 100%;height: 100%; display: block;background-repeat:no-repeat;background-position:center;background-image:url("../images/right_butt.png");}

.m_button>.m_butt{width: 92px;height:30px;float: left;padding-top:500px; margin-left: 504px;}
.m_button>.m_butt>a{width: 100%;height: 100%; display: block;background-repeat:no-repeat;background-position:center;background-image:url("../images/m_butt.png");}


/*container----------------------*/
#container{width:1200px; height:1205px;;margin-top:45px;}
#container>#sub_benner{width: 100%;height: 201px;}
#container>#sub_benner>.sub_icon{width: 591px;;height: 100%; float:left;}
#container>#sub_benner>.sub_icon>a{width: 100%;height: 100%; display: block;background-repeat:no-repeat;background-position:center center;}
.sub_icon{width: 592px;}
.sub_icon>a{background-image: url("../images/sub_1.png");}

#sub_benner>.sub_icon>.icon{width: 590px;height: 142px; margin-top:-141px;}
#sub_benner>.sub_icon>.icon>li>a{width: 108px; height: 108px; display: block;background-repeat:no-repeat;background-position:center center; float:left; margin-left:25px;}
#sub_benner>.sub_icon>.icon>.icon_5>a{width: 15px;height:108px;}
.icon_1>a{background-image: url("../images/icon_01.png");}
.icon_2>a{background-image: url("../images/icon_2.png");}
.icon_3>a{background-image: url("../images/icon_3.png");}
.icon_4>a{background-image: url("../images/icon_4.png");}
.icon_5>a{background-image: url(../images/icon_right.png);}

#sub_benner>.icon_2{width: 609px;;height: 100%; float:left;}
#sub_benner>.icon_2>li{width: 281px; height: 100%;float:left;margin-left:23px;}
#sub_benner>.icon_2>li>a{width: 100%;height: 100%; display: block;background-repeat:no-repeat;background-position:center center;}
.sub_shop>a{background-image: url("../images/shop_1.png");}
.sub_conp>a{background-image: url("../images/coupon.png");}

#container>.e_so{width: 100%; height: 200px;
    background-image: url("../images/ev_so.png"); display:block;background-repeat: no-repeat;background-position: center bottom; margin-bottom:30px;}

#container>.benner{width:1100px;height: 805px;margin: 0 auto;}
#container>.benner>li{width:360px;height:306px;float:left;margin-right: 10px;}
#container>.benner>li>a{width: 100%;height: 100%;float:left; display: block; background-repeat:no-repeat; background-position:center center;}
#container>.benner>.benner_3{margin-right: 0}
#container>.benner>.benner_4{width: 730px;margin-right: 10px;margin-top: 10px;}
#container>.benner>.benner_5{margin-right: 0;margin-top:10px;}

.benner_1{background-image: url("../images/you_benner_1.png");}
.benner_2{background-image: url("../images/benner_2.png");}
.benner_3{background-image: url("../images/benner_3.png");}
.benner_4{background-image: url("../images/benner_4.png");}
.benner_5{background-image: url("../images/benner_5.png");}


#footer{width:1270px; height:210px; background-color:#f4f4f4;margin:0 auto;}
#footer>ul>li{float:left; margin-right: 110px;margin-top: 20px;}
#footer>ul>li>a{width: 100%;height: 100%;display: block; background-repeat:no-repeat; background-position:center center;}
#footer>ul>.foot_2,.foot_3{margin-right: 0;}

.foot_1{width:710px; height:13px;background-image: url("../images/footer_1.png");margin-left: 30px}
.foot_2{width:200px; height:35px;}
.foot_3{width:42px; height:35px;}
.foot_4{width:95px; height:95px;background-image: url("../images/bac.png");margin-left: 50px}
.foot_5{width:415px; height:70px;background-image: url("../images/foot.png");}
.foot_6{width:350px; height:100px; margin-left: 30px}


.foot_2>a{background-image: url("../images/family.png");}
.foot_3>a{background-image: url("../images/GO.png");}
.foot_6>a{background-image: url("../images/f_i_y_icon.png");}




































