#wrap{width:100%; height:2450px;margin: 0 auto;}

/*-----------header------------*/
#header{width: 1100px;height:92px;padding-top:70px;}
#header>h1{width:234px; height:50px;float:left;}
h1>a{width: 100%;height: 100%;display: block; background-repeat:no-repeat;float:left;background-image:url("../images/7_logo.png");}


#header>.top_navi>li{height: 30px;float:left;padding-left:55px;margin-top: 18px;}
#header>.top_navi>li>a{width: 100%;height: 100%;display: block;background-repeat: no-repeat;background-position:center center;}
#header>.log_navi>li{height: 24px;float:left;padding-top:20px;margin-left:2px;}
#header>.log_navi>li>a{width: 100%;height: 100%;display: block; background-repeat:no-repeat;float:left; background-position:center center;}

.top_navi_1{width: 178px;}
.top_navi_2{width: 72px;}
.top_navi_3{width: 97px;}
.top_navi_4{width: 97px;}
.log{width: 74px; padding-left:50px}
.customer{width: 74px;float:right;}

.top_navi_1>a{background-image:url("../images/7-ELEVEN_1.png");}
.top_navi_2>a{background-image:url("../images/nav_2.png");}
.top_navi_3>a{background-image:url("../images/nav_3.png");}
.top_navi_4>a{background-image:url("../images/nav_4.png");}
.log>a{background-image:url("../images/nav_5.png");}
.customer>a{background-image:url("../images/nav_6.png");}

/*--------##best_product----------*/
#best_product{width: 100%; height: 327px;}
#best_product>.benner{height: 180px; background-image:url("../image_1/sud_m.png");display: block;background-repeat: no-repeat;background-position: center;}

/*-----------inner------------*/
#best_product>ul{width: 1600px; height: 27px; margin: 0 auto;padding-top:20px;}
#best_product>ul>li>a{height: 27px;display: block; background-repeat:no-repeat;float:left; background-position:center center;}

.mi_nav>a{width: 130px;background-image: url("../image_1/home.png");}
.mi_nav_1>a{width: 14px;background-image: url("../image_1/mini.png");margin-left:10px;}
.mi_nav_2>a{width: 106px;background-image:url("../image_1/sub_1.png");margin-left:10px;}

/*--------search----------------------*/
#best_product>.search{width: 100%; height: 80px;padding-top:20px;}
#best_product>.search>a{height: 80px;display: block; background-repeat:no-repeat;float:left; background-position:center center;}
#best_product>.search>a{width: 100%;background-image: url("../image_1/search.png");}

/*---------##container----------*/
#container{width: 1260px; height: 1635px;margin: 0 auto;}

/*--------product_icon-------------*/
.product_icon>ul{width: 1260px;height: 150px;margin: 0 auto;}
.product_icon>ul>li{width: 180px;height: 150px;float:left;margin-top: 100px;}
.product_icon>ul>li>a{width: 180px;height: 150px;
display: block; background-repeat:no-repeat; background-position:center;}

.icon_1>a{background-image: url("../image_1/product_icon_1.png");}
.icon_2>a{background-image: url("../image_1/product_icon_2.png");}
.icon_3>a{background-image: url("../image_1/product_icon_3.png");}
.icon_4>a{background-image: url("../image_1/product_icon_4.png");}
.icon_5>a{background-image: url("../image_1/product_icon_5.png");}
.icon_6>a{background-image: url("../image_1/product_icon_6.png");}
.icon_7>a{background-image: url("../image_1/product_icon_7.png");}


.product_n_b{width: 1260px; height: 1155px;float: left; margin-top:150px;}
.neww{width: 100%; height: 68px;}
.neww>ul>.new_1{width: 80%;height: 65px; background-image: url("../image_1/new_0.png");float:left;display: block; background-repeat: no-repeat;}
.neww>ul>.new_2{float: right;}
.neww>ul>.new_2>a{width: 125px; height: 44px;background-image: url("../image_1/plus_but.png");display: block; background-repeat: no-repeat;}

.benner_new{width: 1200px;height: 443px; margin:0 auto;}
.benner_new>ul>li>a{width: 393px;height: 443px;
margin-left:6px; margin-top:30px;
float:left;display: block; background-repeat: no-repeat;
background-position: center center;}
.new_ben1>a{background-image: url("../image_1/new_1.png");}
.new_ben2>a{background-image: url("../image_1/new_2.png");}
.new_ben3>a{background-image: url("../image_1/new_3.png");}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.bestt{width: 100%; height: 68px; float: left; margin-top: 150px;}
.bestt>ul>.best_1{width: 80%;height: 65px; background-image: url("../image_1/best_0.png");float:left;display: block; background-repeat: no-repeat;}
.bestt>ul>.best_2{float: right;}
.bestt>ul>.best_2>a{width:125px; height:44px;background-image: url("../image_1/plus_but.png");
display: block; background-repeat: no-repeat;}

.benner_best{width: 1200px;height: 443px; margin:0 auto;margin-top:10px;}
.benner_best>ul>li>a{width: 393px;height: 443px;
margin-left:6px; margin-top:30px;
float:left;display: block; background-repeat: no-repeat;
background-position: center center;}
.best_ben1>a{background-image: url("../image_1/best_1.png");}
.best_ben2>a{background-image: url("../image_1/best_2.png");}
.best_ben3>a{background-image: url("../image_1/best_3.png");}




#footer{width:1270px; height:210px; background-color:#f4f4f4;margin:0 auto; margin-top: 115px;}
#footer>ul>li{float:left; margin-right: 110px;margin-top: 20px;}
#footer>ul>li>a{width: 100%;height: 100%;display: block; background-repeat:no-repeat; background-position:center center;}
#footer>ul>.foot_2,.foot_3{margin-right: 0;}

.foot_1{width:710px; height:13px;background-image: url("../images/footer_1.png");margin-left: 30px}
.foot_2{width:200px; height:35px;}
.foot_3{width:42px; height:35px;}
.foot_4{width:95px; height:95px;background-image: url("../images/bac.png");margin-left: 50px}
.foot_5{width:415px; height:70px;background-image: url("../images/foot.png");}
.foot_6{width:350px; height:100px; margin-left: 30px}


.foot_2>a{background-image: url("../images/family.png");}
.foot_3>a{background-image: url("../images/GO.png");}
.foot_6>a{background-image: url("../images/f_i_y_icon.png");}
























