html,body{
    width:100%;
    height:auto;
    margin:0 auto;
}
#wrap{
    width:100%; 
    height:auto;
    margin:0 auto;
}


@import 'pcfull.scss';
@import 'pc.scss';
@import 'tablet.scss';
@import 'mobile.scss';
@import 'mobile2.scss';



