
@media screen and (min-width:639px) and (max-width:767px){
#mainBanner{
    width: 100%;
    height:46.875vw/*450px*/;
    position:relative;
    margin: 0 auto;
    margin-top:2.083333333333333vw/*20px*/;
#main{
    overflow: hidden;
    width:100%; 
    height: 100%;
    position:absolute;
.main_ban{
    width:300%;
    height: 46.875vw/*450px*/;
    position:absolute; 
    z-index: -100;
    margin-left: -100%;
  >li{
        width: calc(100% / 3);
        height: 100%;
        float: left;
     }   
    
.main_img{
    >a{
    background-image:url("../img/conter/main_33.png");
        background-size:100%;
    }}
.main_2_img{
    >a{
    background-image: url("../img/conter/main_11.png");
    background-size:100%;
   }}
.main_3_img>a{
    background-image:url("../img/conter/main_22.png");
    background-size:100%;
}
    
    }//.main_ban
    }//#main


.cen_butt{
    width:100px; 
    height: 10px;
    position:absolute; 
    bottom: 10px; 
    left: 50%; 
    margin-left: -25px;
    z-index: 30;
    
    
>li{
    width: 15px; 
    height: 15px; 
    float: left; 
    margin-right: 10px; 
    border-radius: 50%; 
    background-color: #aaa;
   
    >.indWidth{width:60px;}
    >a:hover{
        width: 15px; height: 15px; 
        float: left; 
        margin-right: 10px; 
        border-radius: 50%; 
        background-color: #666;  
     }
&:last-child{margin-right: 0;}
    }//li
}//.cen_butt


.main_but{
    width: 100%;
    height: 100%;
    position:absolute;
.m_left_but{
    width: 30px;
    height: 100%; 
    float:left;
    margin-left:10%;
    >a{
        background-image: url("../img/conter/left_butt.png");
        background-position:center;
     }
    }//.m_left_but

.m_re_but{
    width: 30px;
    height:100%;
    float:right;
    margin-right:10%;
    >a{
        background-image: url("../img/conter/right_butt.png");
        background-position: center;
      }
    }//.m_re_but

    }//.main_but
    
}//#main



/*-------container_1--------*/


#container_1{
    width: 600px; 
    height:400px; 
    margin-top:50px;

#bannerText{
        width:200px;
        height:45px;
        margin: 0 auto;
        text-align:center;
        border: 1px solid #bbb;
        border-width: 1px 0 ;
        list-style-type: none;
        margin-bottom: 30px;
    >p{
        font-size: 1.2em;
        color:#1b932a;
        font-weight: 800;
        margin-top:10px;
    }
    }
.topBox{
    width: 500px;
    height: 280px;
    margin: 0 auto;
#top_1{
    width: 100%; 
    height: 130px; 
    box-sizing: border-box;
    border: 1px solid #ccc;
    float:left;
    >h3{
        width: 100%; height: 20px;
        font-size:1rem;
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
        color:#444;
     }
    >.topBox_1{
        width: 360px; 
        height: 90px;
        margin: 0 auto; 
        margin-top:5px;
        >li{
            width: 70px; 
            height: 70px; 
            float:left;
            margin-left: 10px;
           >a{
               width: 70px; 
               height: 70px; 
               background-image: url("../img/banner/icon.png");
           &:hover{
               background-image: url("../img/banner/icon_right.png");}
            }//a
           &:nth-child(5){
            width: 15px;
            height:70px; 
            float: right;
            margin-right: 10px;
            }
            &:nth-child(1)>a{background-position:0px;}
            &:nth-child(2)>a{background-position:-79px;}
            &:nth-child(3)>a{background-position:-159px;}
            &:nth-child(4)>a{background-position:-238px;}
            &:nth-child(5)>a{width: 15px;background-position:-318px;}
       }//li
    }//.topBox_1
    }//#top_1

#top_2{float:left;}
#top_3{float:right;}
#top_2,#top_3{
    width: 48%; 
    height: 130px; 
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-top:15px;
  >h3{
        width: 100%; height: 20px;
        font-size:1rem;
        text-align: center;
        font-weight: bold;
        margin-top: 5px;
        color:#444;
        }
    >p{
        width: 100%;
        font-size: 0.8rem; 
        text-align: center;
        text-decoration:underline;
     }
    }//#top_2,#top_3
    
.topBox_2>li{
    margin-top: 5px; 
    height: 90px;
    >a{
        width: 100%; 
        height: 90px;
        background-image: url("../img/banner/sho.png");}
     }
.topBox_3>li{height: 80px;
        >a{
            background-image: url("../img/banner/coup.png");}
     }
    }
   }//#container_1


/*------container_2-------*/



#container_2{
    width: 500px; 
    height: 700px;
      margin: 0 auto;
    >.ev_newText{
        width: 200px;
        height: 45px;
        margin: 0 auto;
        text-align:center;
        border: 1px solid #bbb;
        border-width: 1px 0 ;
        list-style-type: none;
        margin-bottom: 30px;
        margin-top:30px;
    >p{
        font-size: 15pt;
        color:#e65c35;
        font-weight: 800;
        margin-top:10px;
        }
    }//.ev_newText
#evBox{
    width: 100%;
    height:100%;
    margin:0 auto;
>div{
    width: 48%; height: 180px; 
    float:left; 
    box-sizing:border-box;
    border:1px solid #ccc;
    }
.pbBanner,.center,.story{
        margin-top:20px;}
.youtube>iframe{ 
    width: 100%; 
    height: 180px;
    }//.youtube

.dosirak{
    background-color:#dbceab;
    background-image: url("../img/banner/dosirak.png");
    background-position: center;
    background-repeat: no-repeat;
    float:right;
    &:hover{
        a{
        width: 100%;
        height: 100px;
        background-color:rgba(255,255,255,.8);
        margin-top:78px;
            >span{
                width: 100%;
                height: 100%;
                font-size:1em;
                text-align: center;
                padding-top:15px;
                >p{
                    font-size:1.2em;
                    font-weight:600;
                    padding:5px 0;
                }
            }
        }
    }//hover
    }//.dosirak

.pbBanner{
    background-color:#f4f4f4;
    background-image: url("../img/banner/pb.png");
    background-position: center;
    background-repeat: no-repeat;
    &:hover{
        a{
        width: 100%;
        height: 100px;
        background-color:rgba(255,255,255,.8);
        margin-top:78px;
            >span{
                width: 100%;
                height: 100%;
                font-size:1em;
                text-align: center;
                padding-top:15px;
                >p{
                    font-size:1.2em;
                    font-weight:600;
                    padding:5px 0;
                }
            }
        }
    }//hover
    }//.pbBanner

.center{
    float:right;
    background-color:#fff;
    background-image: url("../img/banner/center.png");
    background-position: center;
    background-repeat: no-repeat;
  &:hover{
      a{
          width: 100%;
          height: 100px;
          background-color:rgba(255,255,255,.8);
           margin-top:78px;
          >span{
             width: 100%;
             height: 100%;
             font-size:1.2em;
             text-align: center;
             padding-top:20%;
            font-weight:bold;
          }
      }
    }
    }//.center

.story{
    width: 100%; 
    height: 200px;
    float: left; 
    >.storyimg{
        width: 70%;
        height: 100%;
        background-image: url("../img/banner/story_1.png");
        background-size:contain;
        background-repeat:no-repeat;
        float:left;}
    >.storytext{
         float:left;
         width:calc(30% - 5px);
         height:calc(100% - 20px);
        padding:20px 0 0 5px;
        >dt{
            font-size:1.1em;
            font-weight:600;
            padding:5px 0;
            color:#1b932a;}
        >dd{
           text-align: left;
            font-size:0.9em;
            >button{
                float:right;
                margin:20px 5px 0 0;
                background-color:#333;
                color:#fff;
                cursor:pointer;
            }
        }
        
      >p>a{ 
      margin-top:35%; 
      margin-right: 20px; 
      width: 55px; 
      height: 18px;
      float:right; 
      background-image: url("../img/banner/story_butt.png");}  
    }
    }//.story

 }//#evBox
    }//#container_2
    
}